ion-content {
--background: rgb(255, 255, 255); /* Establecer el fondo blanco */
  }
 
  ion-col {
    height: 20rem;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    border: solid 0.5rem #000000;
  }